PORT=
NODE_ENV=development
MONGODB_URI=
JWT_SECRET=
REFRESH_TOKEN=
CLIENT_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PRICE_ID=
STRIPE_PRO_YEARLY_PRICE_ID=

SENDGRID_API_KEY=
EMAIL_FROM=noreply@techmates.dev
CLIENT_ID=
CLIENT_SECRET=
EMAIL_USER=
